/*-------------------
  Variables
---------------------------------*/

:root {
  --violet: #5964e0;
  --violet-light: #939bf4;
  --blue-very-dark: #19202d;
  --midnight: #121721;
  --white: #fff;
  --gray: #9daec2;
  --gray-light: #f4f6f8;
  --gray-dark: #6e8098;
}
